substitutions:
  num_leds: "60"

external_components:
  - source:
      type: git
      url: https://github.com/pmannk/ESPHome-ESPIDF-Analog-Clock

esp32:
  board: 'esp32-c3-devkitm-1'
  framework:
    type: esp-idf 

esphome:
  name: esp32_clock
  on_boot:
    # set "loading" effect while initializing
    priority: 500.0
    then:
      # enable clock effect after boot
      - light.turn_on:
          id: light_ring
          brightness: 100%
          effect: Sync

globals:
  - id: clock_brightness
    type: int
    restore_value: yes
    initial_value: '255'

  - id: clock_indicators_enabled
    type: bool
    restore_value: yes
    initial_value: 'true'

  - id: clock_seconds_enabled
    type: bool
    restore_value: yes
    initial_value: 'true'

  - id: wide_hour_hand_enabled
    type: bool
    restore_value: yes
    initial_value: 'false'

time:
  - platform: homeassistant
    id: clock_time
    timezone: Australia/Sydney
    on_time_sync:
      then:
        - light.turn_on:
            id: light_ring
            effect: Clock

switch:
  - platform: template
    name: "Clock Indicators"
    icon: mdi:progress-clock
    lambda: !lambda |-
      return id(clock_indicators_enabled);
    turn_on_action:
      globals.set:
        id: clock_indicators_enabled
        value: 'true'
    turn_off_action: 
      globals.set:
        id: clock_indicators_enabled
        value: 'false'

  - platform: template
    name: "Clock Seconds"
    icon: mdi:update
    lambda: !lambda |-
      return id(clock_seconds_enabled);
    turn_on_action:
      globals.set:
        id: clock_seconds_enabled
        value: 'true'
    turn_off_action:
      globals.set:
        id: clock_seconds_enabled
        value: 'false'

  - platform: template
    name: "Wide Hour Hand"
    lambda: !lambda |-
      return id(wide_hour_hand_enabled);
    turn_on_action:
      globals.set:
        id: wide_hour_hand_enabled
        value: 'true'
    turn_off_action:
      globals.set:
        id: wide_hour_hand_enabled
        value: 'false'

light:
  - platform: esp32_rmt_led_strip
    name: "Addressable Clock"
    id: light_ring
    pin: GPIO0 #Define your GPIO pin connected to the LED strip
    chipset: WS2812 #Define your LED type
    rgb_order: GRB #Adjust RGB order as required
    num_leds: "${num_leds}"
    effects:
      - addressable_lambda:
          name: "Clock"
          update_interval: 32ms
          lambda: |-
            auto time = id(clock_time).now();
            int offset = 0;
            static Color clock_ring_colors [${num_leds}];
            update_clock_hands(it, time, clock_ring_colors, offset);
      - addressable_scan:
          name: Sync
          move_interval: 100ms
          scan_width: 1
